/*  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fbfbfb;
}
header{
background-color: #fbfbfb !important;
}
.btn2 {
    height: 45px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 30px;
    font-size: 14px;
    font-family: "Readex Pro", sans-serif;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.4s;
}
.btn2:hover {
    background-color: #ffd100;
    color: #000;
}
.hero img {
    max-width: 100%;
    width: 100%;
    border-radius: 30px;
}
.second img {
    max-width: 100%;
    width: 100%;
}
.third img {
    max-width: 100%;
    width: 100%;
    border-radius: 30px;
}
h1 {
    font-size: 56px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    line-height: 56px;
    text-align: center;
}
h2{
    font-size: 42px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    line-height: 46px;
    text-align: center;
}
h3 {
    font-size: 30px;
    line-height: 36px;
    font-family: "Fredoka", sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}
p {
    font-size: 14px;
    line-height: 24px;
    font-family: "Readex Pro", sans-serif;
    font-weight: 400;
}
.container {
    max-width: 1280px;
    width: 95%;
    margin: auto;
}
.title {
    margin-bottom: 90px;
}
/* header */
/* .header{
    position: unset;
} */
/* hero */
section.hero {
    margin-top: 90px;
    margin-bottom: 150px;
}
.hero-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero-left-column {
    width: 50%;
}
.hero-right-column {
    width: 50%;
}
.hero-right-column-content {
    padding: 50px;
    text-align: right;
}
/* second */
.second .container{
    max-width: 1280px;
    width: 95%;
}
section.second {
    margin-bottom: 150px;
}
.second .title {
    margin-bottom: 40px;
}
/* third */
.third{
    margin-bottom: 150px;
}
.third .container {
        display: flex;
        flex-direction: column;
        gap: 150px;
    }
.third-row1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third-row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third-row1-left-column {
    width: 50%;
}
.third-row1-right-column {
    width: 50%;
}
.third-row2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.third-row2-left-column {
    width: 50%;
}
.third-row2-right-column {
    width: 50%;
}
.third-row1-right-column-content {
    padding: 50px;
}
.third-row2-left-column-content {
    padding: 50px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media (max-width:1024px) {
    .title {
        margin-bottom: 40px;
    }
    /* hero */
    section.hero {
        margin-bottom: 50px;
    }
    /* second */
    section.second {
        margin-bottom: 80px;
    }
    /* third */
    .third {
        margin-bottom: 80px;
    }
    .third .container {
        gap: 60px;
    }
}
@media (max-width:992px) {
    .title {
        margin-bottom: 20px;
    }
}
@media (max-width:884px) {

    /* hero */
    h3 {
        font-size: 25px;
        line-height: 30px;
    }
    p {
        font-size: 12px;
        line-height: 22px;
    }
    .hero img {
        height: 44vh;
    }
    /* third */
    .btn2 {
        height: 38px;
        width: 160px;
        font-size: 12px;
    }
}
@media (max-width:768px) {
    .title {
        margin-bottom: 90px;
    }
    .hero h1 {
        font-size: 46px;
        line-height: 56px;
    }
    .hero h2 {
        font-size: 36px;
        line-height: 46px;
    }
    .hero h3 {
        font-size: 30px;
        line-height: 36px;
        text-align: right;
    }
    .hero p {
        font-size: 14px;
        line-height: 26px;
        text-align: right;
    }
    /* hero */
    .hero-row {
        flex-wrap: wrap-reverse;
    }
    .hero img {
        height: auto;
    }
    .hero-left-column {
        width: 100%;
    }
    .hero-right-column {
        width: 100%;
    }
    .hero-right-column-content {
        padding: 50px 20px;
        /* text-align: right; */
    }
/* third */
.third-row1 {
    flex-wrap: wrap;
}
.third-row2 {
    flex-wrap: wrap-reverse;
}
.third-row1-left-column {
    width: 100%;
}
.third-row1-right-column {
    width: 100%;
}
.third-row2-left-column {
    width: 100%;
}
.third-row2-right-column {
    width: 100%;
}
.third-row1-right-column-content {
    padding: 50px 20px;
}
.third-row2-left-column-content {
    padding: 50px 20px;
}
.third {
    margin-bottom: 40px;
}
}
@media (max-width:576px) {
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    /* hero */
    section.hero {
        margin-bottom: 40px;
    }
    /* third */
    .third .container {
        gap: 40px;
    }
}